<% provide("title", "Questions List") %>
<h1>List of all Questions</h1>

<%= link_to 'Back to users page', user_path(@user) %>

<% @questions.each do |question| %>

	<h2>Question by user <%= question.user_id %></h2>
	<p>
		<strong>Title</strong>
		<%= question.title %>
	</p>

	<p>
		<strong>Body</strong>
		<%= question.body %><br>
	</p>
	<%= link_to 'Add Answer', new_question_answer_path(question) %>
	<%= link_to 'View Answers', question_path(question) %>
<% end %>