<% provide("title", "Ask Question") %>

<h1>Ask your Question</h1>

<%= form_with(model: [ @user, @question ]) do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>

  <%= form.fields_for :question_vote do |f| %>
    <p>
      <%= f.label :count %><br>
      <%= f.number_field :count, value: 0 %>
    </p>
  <% end %>
  <p>
    <%= form.submit %>
  </p>
<% end %>
