<% provide("title", "Question") %>

<h1>Question</h1>

<h2>Title</h2>
<%= @question.title %>

<h2>Body</h2>
<%= @question.body %><br>

<%= render 'ques_votes' %>

<h1>Answers</h1>

<% if @question.answers.any? %>
	
	<%= render @question.answers %>
<% end %><br>

<%= link_to 'Back to Questions', questions_path %>