<% provide("title", "Edit Answer") %>

<h1>Edit your Answer</h1>

<%= form_with model: [@question, @answer], local: true do |form| %>
	<p>
		<%= form.label :body %><br>
		<%= form.text_area :body %>
	</p>
	 
	<p>
		<%= form.submit %>
	</p> 
<% end %>
 
<%= link_to 'Back', question_path(@question) %>